<!DOCTYPE HTML>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        
    <header>
    <nav class="navbar" id="navbar">
      <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav">
              <li><a href="/" class="links">Home</a></li>
              <li><a href="/thismonth" class="links">Events This Month</a></li>
            </ul>
            <ul class="nav">
              {% if 'user_id' in session %} 
                  <button type="button" class="nav-button" ><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                {% else %} 
                  <button type="button" class="nav-button" ><span class="glyphicon glyphicon-log-in"></span> Login</button>
                  <button type="button" class="nav-button" ><span class="glyphicon glyphicon-user"></span> Register</button>
                {% endif %} 
            </ul>
        </div>
    </nav>
  </header>


    </body>
</html>
